[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User={{zookeeper_user}}
Group={{zookeeper_user}}
ExecStart={{zookeeper_bin_dir}}/zkServer.sh start
ExecStop={{zookeeper_bin_dir}}/zkServer.sh stop
WorkingDirectory={{zookeeper_data_log_dir}}/zookeeper

[Install]
WantedBy=multi-user.target
